/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26/08/2016, 07:52:56 PM
    Author     : afacunaa
*/

h1{
    font-style: italic;
    color: #51dd50;
}

.cover_img{
    border-style: dotted;
    border-radius: 300px;
    border-color: #9c0009    
}